<h1>Listing articles</h1>

<table style="    width: 97%;
    padding: 2em;
    margin: 1em;
    border-top: 1px dotted;
    border-bottom: 1px dotted;">
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @profiles.each do |article| %>
    <tr>
      <td>
        <%= link_to('profiles/'+article.id) do %>
          <%= article.name %>
        <% end %>
      </td>
      <td><%= article.bragwords %></td>
    </tr>
  <% end %>
</table>