<h1><cufon class="cufon cufon-canvas" alt="Storyteller" style="width: 364px; height: 36px;"><canvas width="409" height="37" style="width: 409px; height: 37px; top: 0px; left: 0px;"></canvas><cufontext>Storyteller</cufontext></cufon></h1>
  <h3>I had a dream, It was a story</h3>
<br/> <br />

<%= @returnobj %>